/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: local("Poppins Italic"), local("Poppins-Italic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucXtAKPY.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: local("Poppins Italic"), local("Poppins-Italic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLufntAKPY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: local("Poppins Italic"), local("Poppins-Italic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucHtA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmg1hVFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmg1hVGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmg1hVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmr19VFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmr19VGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmr19VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: Poppins;
  font-weight: 500;
  color: #777;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
}

.preloaderOverlow {
  overflow: hidden !important;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999999999999999999999999999999999999999999999999;
  background-image: url("../img/medical.gif");
  background-repeat: no-repeat;
  background-color: #39b49a;
  background-position: center;
  overflow: hidden !important;
  overflow-y: hidden !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #515252;
}

::-webkit-scrollbar-thumb {
  background: #007df2;
}

.modalSerach {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background: rgba(11, 11, 11, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalInputSerach {
  width: 400px;
  padding: 11px 20px;
  font-size: 14px;
  line-height: 28px;
  height: 62px;
  font-weight: 500;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  background-color: #fff;
  text-align: inherit;
  color: #777;
  font-family: Poppins;
  text-align: center;
}

.modalInputSerach:focus {
  border-color: #007df2;
  color: #007df2;
}

.modalInputSerach:focus::-webkit-input-placeholder {
  color: #007df2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search-submit {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 1.5;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  padding: 15.5px 36px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
  color: #fff;
  border-style: solid;
  border: 1px solid white;
  background-color: #303030;
  background-image: url(inherit);
  background-size: cover;
  background-position: inherit;
  background-attachment: inherit;
  border-radius: 5px;
  -webkit-transition: .6s;
  transition: .6s;
}

.search-submit:hover {
  background-color: #007df2;
}

.inputTextSerach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inputSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.search-description {
  color: #fff;
  margin-top: 10px;
}

.circleSerach {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.circleSerach i {
  width: 44px;
  height: 44px;
  font-size: 26px;
  color: #fff;
  opacity: 0.65;
  z-index: 9999;
  -webkit-transition: .6s;
  transition: .6s;
}

.circleSerach i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white;
}

.scrollerTop {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  bottom: 10px;
  right: 3%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  background-color: #007df2;
  color: #fff;
  cursor: pointer;
  z-index: 99;
}

footer {
  background-color: #3c3c3c;
}

.footerCenter {
  margin: 0 auto;
  padding: 100px 0 80px;
}

.mainFooterContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footerCard {
  width: 25%;
  background-color: transparent;
}

.footerCard:nth-child(2) {
  width: 140px;
  background-color: transparent;
}

.footerCard p {
  color: #d4d3d3;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 33px;
  font-size: 15px;
}

.footerCard a {
  text-decoration: none;
  color: #d4d3d3;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 33px;
}

.footerCard a:hover {
  color: #007df2;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.footerCard h3 {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-weight: 600;
}

.footerCard:nth-child(1) img {
  width: 150px;
  height: 45px;
  margin-bottom: 30px;
  cursor: pointer;
}

.footerCard:nth-child(2) .footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerCard:nth-child(2) .footerLinks .fa-arrow-right {
  color: #007df2;
  margin-right: 10px;
  font-size: 12px;
}

.footerCard:nth-child(3) .footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 180px;
}

.footerCard:nth-child(3) .footerIcons i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  font-size: 15px;
}

.footerCard:nth-child(3) .footerIcons i:hover {
  color: #007df2;
}

.footerCard:nth-child(3) p {
  line-height: 28px;
}

.footerCard:nth-child(4) {
  width: 25%;
}

.footerCarouselContainer {
  background-color: transparent;
}

.footerCarouselContainer .footerCarousel {
  background-color: transparent;
}

.footerCarouselContainer .footerCarousel .itemForStyle {
  background-color: transparent;
  cursor: e-resize;
}

.footerCarouselContainer .footerCarousel .itemForStyle .commentFooter {
  background: #737373;
  width: 100%;
  padding: 14px 19px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  font-family: "Poppins";
  color: #fff;
  position: relative;
  width: 100%;
}

.footerCarouselContainer .footerCarousel .itemForStyle .commentFooter .bottomTriangle {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0 0;
  border-color: #737373 transparent transparent transparent !important;
  border-top-color: inherit;
  position: absolute;
  left: 23px;
  bottom: -11px;
}

.footerCarouselContainer .footerCarousel .itemForStyle .iconAndContentFooter {
  width: 98%;
  margin-top: 25px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footerCarouselContainer .footerCarousel .itemForStyle .iconAndContentFooter i {
  line-height: 32px;
  font-size: 15px;
  width: 32px;
  display: inline-block;
  background-color: #007df2;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.footerCarouselContainer .footerCarousel .itemForStyle .iconAndContentFooter .contentFooter {
  background-color: transparent;
}

.footerCarouselContainer .footerCarousel .itemForStyle .iconAndContentFooter .contentFooter p:nth-child(1) {
  background-color: transparent;
  color: white;
  margin: 0;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 30px;
  cursor: pointer;
}

.footerCarouselContainer .footerCarousel .itemForStyle .iconAndContentFooter .contentFooter p:nth-child(2) {
  font-size: 10px;
  color: white;
  margin: 0;
  font-weight: 500;
  font-family: "Poppins";
  line-height: 20px;
}

.footerCopyright {
  width: 100%;
  background-color: #1e1e1e;
}

.footerCopyright .copyRightCenter {
  padding: 20px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #999999;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 33px;
  font-size: 15px;
}

.footerCopyright .copyRightCenter p {
  margin: 0;
}

.footerCopyright .copyRightCenter p span {
  margin-right: 25px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footerCopyright .copyRightCenter p span:hover {
  color: #007df2;
}

@media screen and (min-width: 1200px) {
  .footerCenter,
  .copyRightCenter {
    width: 1190px;
  }
}

@media screen and (max-width: 1200px) {
  .footerCenter,
  .copyRightCenter {
    width: 90%;
  }
}

@media screen and (max-width: 968px) {
  .footerCard {
    width: 40% !important;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .footerCard,
  .copyRightCenter {
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 500px) {
  .footerCard,
  .copyRightCenter {
    width: 100% !important;
  }
  .copyRightCenter {
    line-height: 20px;
  }
  .copyRightCenter p {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1255px) {
  .samplePage1, .samplePage2 {
    padding-right: 0px !important;
  }
  .responsiveMenudrop {
    left: -150px !important;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #515252;
}

::-webkit-scrollbar-thumb {
  background: #007df2;
}

body {
  background-color: white;
}

.mainContent {
  margin: 150px 0 0;
  background-color: white;
}

.mainContentCenter {
  margin: 0 auto;
}

.couponContainer {
  width: 100%;
  margin-bottom: 50px;
}

.couponQuestion {
  color: #777;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.couponQuestion span {
  color: #303030;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.couponQuestion span:hover {
  color: #007df2;
}

.couponResult {
  color: #777;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  display: none;
}

.couponContent {
  width: 100%;
}

.couponContent p {
  color: #777;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  margin: 10px 0;
}

.couponContent input {
  width: 100%;
  background-color: white;
  border: 1px solid #e7e7e7;
  font-size: 14px;
  line-height: 28px;
  height: 62px;
  font-weight: 500;
  padding: 11px 20px;
  color: #777;
  font-family: "Poppins";
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  margin: 10px 0;
}

.couponContent input:focus {
  border-color: #007df2;
  color: #007df2;
}

.couponContent input:focus::-webkit-input-placeholder {
  color: #007df2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.couponContent .applyCoupon {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #303030;
  color: white;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  height: 60px;
  cursor: pointer;
  margin: 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.couponContent .applyCoupon:hover {
  background-color: #007df2;
}

.formContent {
  background-color: white;
  margin: 20px 0;
}

.formContentCenter {
  margin: 0 auto 80px;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.formHeading {
  background-color: #007df2;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formHeading h2 {
  padding: 18px 60px;
  font-size: 20px;
  font-family: "Poppins";
  margin: 0;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.formHeading h2:nth-child(2) {
  cursor: pointer;
}

.formHeading h2:nth-child(2):hover {
  opacity: 0.6;
}

.formSelfContainer {
  padding: 18px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.leftForm {
  width: 48%;
  margin-bottom: 30px;
}

.leftForm h3 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 35px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 30px;
  color: #303030;
}

.leftForm input {
  margin-bottom: 20px;
  color: #777;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  width: 100%;
  height: 62px;
  padding: 11px 20px;
  border: 1px solid #e7e7e7;
  color: #007df2;
}

.leftForm input:focus {
  border-color: #007df2;
  color: #007df2;
}

.leftForm input:focus::-webkit-input-placeholder {
  color: #007df2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.leftForm select {
  margin-bottom: 20px;
  color: #777;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  width: 100%;
  height: 62px;
  padding: 11px 20px;
  border: 1px solid #e7e7e7;
  color: #303030;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right white;
  -webkit-appearance: none;
  background-position-x: 95%;
}

.leftForm select:focus {
  border-color: #007df2;
  color: #007df2;
}

.leftForm select:focus::-webkit-input-placeholder {
  color: #007df2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.rightForm {
  width: 48%;
  margin-bottom: 30px;
}

.rightForm h3 {
  font-size: 22px;
  margin-top: 0;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 30px;
  margin: 0;
  color: #303030;
}

.rightForm input {
  margin-bottom: 20px;
  color: #777;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  width: 100%;
  height: 62px;
  padding: 11px 20px;
  border: 1px solid #e7e7e7;
  color: #007df2;
}

.rightForm input:focus {
  border-color: #007df2;
  color: #007df2;
}

.rightForm input:focus::-webkit-input-placeholder {
  color: #007df2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-style: italic !important;
}

.rightForm select {
  margin-bottom: 20px;
  color: #777;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  width: 100%;
  height: 62px;
  padding: 11px 20px;
  border: 1px solid #e7e7e7;
  color: #303030;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right white;
  -webkit-appearance: none;
  background-position-x: 95%;
}

.rightForm select:focus {
  border-color: #007df2;
  color: #007df2;
}

.rightForm select:focus::-webkit-input-placeholder {
  color: #007df2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-style: italic !important;
}

.rightCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 35px;
}

#check {
  height: 14px;
  width: 14px;
  margin: 0;
  margin-right: 10px;
}

textarea {
  width: 100%;
  padding: 11px 20px;
  border: 1px solid #e7e7e7;
  font-family: "Poppins";
  font-weight: 500;
  resize: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-style: italic;
  font-size: 14px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-style: italic;
  font-size: 14px;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-style: italic;
  font-size: 14px;
}

input::placeholder,
textarea::placeholder {
  font-style: italic;
  font-size: 14px;
}

h1 {
  width: 100%;
  padding: 18px 60px;
  color: #303030;
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  margin: 0;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  background-color: white;
  padding: 18px 60px;
}

thead,
tbody,
tr,
td {
  border: 1px solid #e7e7e7;
}

td {
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  color: #777777;
}

td span {
  font-weight: 700;
}

.verticalCenter {
  position: relative;
}

.verticalAlign {
  font-weight: 600 !important;
  position: absolute;
  left: 50%;
  margin-left: -36px;
  top: 50%;
  margin-top: -12px;
}

label {
  margin: 0;
}

.paymentMethod {
  background-color: white;
  padding: 18px 60px;
  width: 100%;
  padding-bottom: 80px;
}

.method label {
  font-size: 13px;
  font-family: "Poppins";
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.03em;
  display: inline-block;
  color: #777;
}

.hidden {
  color: #777;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 10px;
}

.methodLastText {
  color: #777;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.methodLastText span {
  color: #007df2;
  cursor: pointer;
}

.proceed {
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  padding: 15.5px 36px;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  background-color: #303030;
  border-radius: 5px;
  -webkit-transition: all 500ms linear !important;
  transition: all 500ms linear !important;
  width: 165px;
  height: 55px;
}

.proceed:hover {
  background-color: #007df2;
}

.scrollerTop {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  bottom: 10px;
  right: 3%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  background-color: #007df2;
  color: #fff;
  cursor: pointer;
  z-index: 99;
}

footer {
  background-color: #141414;
}

.footerCenter {
  margin: 0 auto;
  padding: 100px 0 50px;
}

.mainFooterContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footerCard {
  width: 25%;
}

.footerCard:nth-child(2) {
  width: 120px;
}

.footerCard p {
  color: #999999;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 33px;
  font-size: 15px;
}

.footerCard a {
  text-decoration: none;
  color: #999999;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 33px;
}

.footerCard a:hover {
  color: #007df2;
}

.footerCard h3 {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-weight: 600;
}

.footerCard:nth-child(1) img {
  width: 150px;
  height: 45px;
  margin-bottom: 30px;
  cursor: pointer;
}

.footerCard:nth-child(2) .footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerCard:nth-child(3) .footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 180px;
}

.footerCard:nth-child(3) .footerIcons i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  font-size: 15px;
}

.footerCard:nth-child(3) .footerIcons i:hover {
  color: #007df2;
}

.footerCard:nth-child(3) p {
  line-height: 28px;
}

.footerCard:nth-child(4) {
  width: 25%;
}

.footerGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footerImage {
  width: 32%;
  position: relative;
  margin-bottom: 10px;
}

.footerImage img {
  width: 100%;
}

.hoverInsta {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 22px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.hoverInsta:hover {
  opacity: 1;
}

.footerCopyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #999999;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 33px;
  font-size: 15px;
  margin-top: 50px;
  background-color: #141414;
}

.footerCopyright p {
  margin: 0;
}

.footerCopyright p span {
  margin-right: 25px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footerCopyright p span:hover {
  color: #007df2;
}

@media screen and (min-width: 1200px) {
  .footerCenter {
    width: 1190px;
  }
}

@media screen and (max-width: 1200px) {
  .footerCenter {
    width: 90%;
  }
}

@media screen and (max-width: 968px) {
  .footerCard {
    width: 40% !important;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .footerCard,
  .footerCopyright {
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 500px) {
  .footerCard,
  .footerCopyright {
    width: 100% !important;
  }
  .footerCopyright {
    line-height: 20px;
  }
  .footerCopyright p {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .mainContentCenter,
  .formContentCenter {
    width: 1190px;
  }
}

@media screen and (max-width: 1200px) {
  .mainContentCenter,
  .formContentCenter {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .formSelfContainer,
  .table,
  .paymentMethod,
  .formHeading h2 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .rightForm,
  .leftForm {
    width: 100%;
  }
  table {
    width: 100% !important;
  }
}
/*# sourceMappingURL=checkout.css.map */