/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: local("Poppins Italic"), local("Poppins-Italic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucXtAKPY.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: local("Poppins Italic"), local("Poppins-Italic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLufntAKPY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: local("Poppins Italic"), local("Poppins-Italic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucHtA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmg1hVFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmg1hVGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmg1hVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmr19VFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmr19VGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmr19VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.pageIntroSection {
  background-image: url("../img/pagetitle-aboutus2.jpg");
  height: 50vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.pageIntroSection .pageIntroText {
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -73px;
  font-family: "Poppins";
}

.pageIntroSection .pageIntroText h2 {
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  font-weight: 600;
  color: #303030;
}

.pageIntroSection .pageIntroText p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #303030;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  width: 130px;
  margin: auto;
}

.pageIntroSection .pageIntroText p a {
  text-decoration: none;
  color: #303030;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pageIntroText a:hover {
  color: #007df2 !important;
}

.pricingMainContainer {
  background-color: #f0f0f0;
  padding: 100px 0;
}

.pricingMainContainer .pricingMainContainerCenter {
  margin: auto;
}

.pricingMainContainer .pricingMainContainerCenter .pricingHeading {
  text-align: center;
  margin-bottom: 50px;
}

.pricingMainContainer .pricingMainContainerCenter .pricingHeading h2 {
  color: #007df2;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 22px;
  font-family: "Poppins";
}

.pricingMainContainer .pricingMainContainerCenter .pricingHeading h1 {
  font-size: 36px;
  line-height: 45px;
  color: #303030;
  font-weight: 600;
  font-family: "Poppins";
}

.pricingMainContainer .pricingMainContainerCenter .pricingCardsContainer {
  padding: 5px;
}

.pricingMainContainer .pricingMainContainerCenter .pricingCardsContainer .pricinCarouselContainer {
  padding: 5px;
  cursor: e-resize;
}

.pricingMainContainer .pricingMainContainerCenter .pricingCardsContainer .pricinCarouselContainer .pricingCard {
  background-color: white;
  border: 1px solid #e7e7e7;
  padding: 40px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pricingMainContainer .pricingMainContainerCenter .pricingCardsContainer .pricinCarouselContainer .pricingCard h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
  margin: 0 0 15px;
  color: #303030;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 30px;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
}

.pricingMainContainer .pricingMainContainerCenter .pricingCardsContainer .pricinCarouselContainer .pricingCard p {
  font-size: 15px;
  line-height: 26px;
  margin: 0 0 15px;
  padding: 0;
  width: 90%;
  color: #777777;
  font-weight: 500;
  font-family: "Poppins";
}

.pricingMainContainer .pricingMainContainerCenter .pricingCardsContainer .pricinCarouselContainer .pricingCard h1 {
  color: #007df2;
  font-weight: 600;
  padding-top: 22px;
  font-family: "Poppins";
  font-size: 48px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pricingMainContainer .pricingMainContainerCenter .pricingCardsContainer .pricinCarouselContainer .pricingCard h1 span:nth-child(1) {
  font-size: 24px;
}

.pricingMainContainer .pricingMainContainerCenter .pricingCardsContainer .pricinCarouselContainer .pricingCard h1 span:nth-child(2) {
  font-size: 48px;
  line-height: 1;
  padding-left: 10px;
  padding-right: 9px;
}

.pricingMainContainer .pricingMainContainerCenter .pricingCardsContainer .pricinCarouselContainer .pricingCard h1 span:nth-child(3) {
  color: #303030;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.pricingMainContainer .pricingMainContainerCenter .pricingCardsContainer .pricinCarouselContainer .pricingCard ul {
  margin: 20px 0;
  padding: 0;
  margin: 40px 0 30px;
}

.pricingMainContainer .pricingMainContainerCenter .pricingCardsContainer .pricinCarouselContainer .pricingCard ul li {
  list-style-type: none;
  font-size: 14px;
  line-height: 26px;
  border-bottom: #e6e6e6 solid 1px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  font-family: "Poppins";
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricingMainContainer .pricingMainContainerCenter .pricingCardsContainer .pricinCarouselContainer .pricingCard ul li i {
  font-size: 12px;
  margin-right: 15px;
  color: #303030;
}

.pricingMainContainer .pricingMainContainerCenter .pricingCardsContainer .pricinCarouselContainer .pricingCard ul li span {
  color: #777777;
}

.pricingMainContainer .pricingMainContainerCenter .pricingCardsContainer .pricinCarouselContainer .pricingCard .getStarted {
  padding: 15px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: #ebebeb;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pricingMainContainer .pricingMainContainerCenter .pricingCardsContainer .pricinCarouselContainer .pricingCard .getStarted p {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 500;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  color: #303030;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pricingCard:hover {
  border: 1px solid #007df2 !important;
}

.pricingCard:hover h2 {
  color: #007df2 !important;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
}

.pricingCard:hover .getStarted {
  background-color: #007df2 !important;
  color: white !important;
}

.pricingCard:hover .getStarted p {
  color: white !important;
}

.selectedPricingCard {
  border: 1px solid #007df2 !important;
}

.selectedHeading {
  color: #007df2 !important;
}

.selectedButton {
  background-color: #007df2 !important;
}

.selectedButtonText {
  color: white !important;
}

.appointmentContainer {
  background-color: #007df2;
  height: 160px;
}

.appointmentContainerCenter {
  height: 100%;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circleImage {
  position: absolute;
  bottom: 0;
  z-index: 9;
}

.appointmentContent {
  position: relative;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.appointmentContent h2 {
  font-weight: 600;
  font-size: 36px;
  color: #fff;
  font-family: "Poppins";
  margin: 0;
}

.appointmentContent .appointBTN {
  background-color: white;
  height: 55px;
  width: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.appointBTN:hover {
  background-color: #303030 !important;
  color: white !important;
}

.owl-nav {
  display: none !important;
}

.scrollerTop {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  bottom: 10px;
  right: 3%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  background-color: #007df2;
  color: #fff;
  cursor: pointer;
  z-index: 99;
}

footer {
  background-color: #141414;
}

.footerCenter {
  margin: 0 auto;
  padding: 100px 0 50px;
}

.mainFooterContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footerCard {
  width: 25%;
}

.footerCard:nth-child(2) {
  width: 120px;
}

.footerCard p {
  color: #999999;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 33px;
  font-size: 15px;
}

.footerCard a {
  text-decoration: none;
  color: #999999;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 33px;
}

.footerCard a:hover {
  color: #007df2;
}

.footerCard h3 {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-weight: 600;
}

.footerCard:nth-child(1) img {
  width: 150px;
  height: 45px;
  margin-bottom: 30px;
  cursor: pointer;
}

.footerCard:nth-child(2) .footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerCard:nth-child(3) .footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 180px;
}

.footerCard:nth-child(3) .footerIcons i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  font-size: 15px;
}

.footerCard:nth-child(3) .footerIcons i:hover {
  color: #007df2;
}

.footerCard:nth-child(3) p {
  line-height: 28px;
}

.footerCard:nth-child(4) {
  width: 25%;
}

.footerGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footerImage {
  width: 32%;
  position: relative;
  margin-bottom: 10px;
}

.footerImage img {
  width: 100%;
}

.hoverInsta {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 22px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.hoverInsta:hover {
  opacity: 1;
}

.footerCopyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #999999;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 33px;
  font-size: 15px;
  margin-top: 50px;
  background-color: #141414;
}

.footerCopyright p {
  margin: 0;
}

.footerCopyright p span {
  margin-right: 25px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footerCopyright p span:hover {
  color: #007df2;
}

@media screen and (min-width: 1200px) {
  .footerCenter {
    width: 1190px;
  }
}

@media screen and (max-width: 1200px) {
  .footerCenter {
    width: 90%;
  }
}

@media screen and (max-width: 968px) {
  .footerCard {
    width: 40% !important;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .footerCard,
  .footerCopyright {
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 500px) {
  .footerCard,
  .footerCopyright {
    width: 100% !important;
  }
  .footerCopyright {
    line-height: 20px;
  }
  .footerCopyright p {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .pricingMainContainerCenter,
  .appointmentContainerCenter {
    width: 1140px;
  }
}

@media screen and (max-width: 1200px) {
  .pageIntroSection {
    height: 30vh;
  }
  .pageIntroText {
    bottom: 50px !important;
  }
  .pricingMainContainerCenter,
  .appointmentContainerCenter {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .appointmentContent h2 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .pageIntroSection {
    height: 20vh;
  }
  .pageIntroText {
    bottom: 10px !important;
  }
  .pricingMainContainer .pricingMainContainerCenter .pricingHeading h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 560px) {
  .appointmentContainer {
    height: 220px;
  }
}
/*# sourceMappingURL=pricing.css.map */