@import "shared/variables";
@import "shared/fonts";
@import "pages/home";

.mainContentChat {
    padding: 138px 15px 80px;

    .mainTaskContentLeft {

        margin-left: 20px;

        .mainLeftContent {
            // max-width: 250px !important;
            width: 100%;

            padding: 54px 30px 49px;
            border: #ebebeb solid 1px;

            .leftTitle {
                margin-bottom: 20px;
                padding-bottom: 8px;
                border-bottom: #ebebeb solid 1px;

                span {
                    font-size: 18px;
                    color: #303030;
                    font-weight: 600;
                }
            }

            .leftSearch {
                position: relative;
                margin-bottom: 54px;

                input {
                    width: 100%;
                    border-style: none;
                    border: #ebebeb solid 1px;

                    padding: 19px 50px 19px 20px;
                }

                i {
                    position: absolute;
                    right: 10%;
                    top: 35%;
                    color: #007DF2;
                    font-size: 20px;
                    cursor: pointer;
                }
            }

            .leftLists {
                margin-bottom: 38px;

                ul {
                    padding-left: 0px;

                    li {
                        padding-top: 10px;
                        padding-bottom: 13px;
                        list-style: none;

                        a {
                            transition: .6s;
                            text-decoration: none;
                            color: #888888;

                            &::after {
                                content: '(1)';




                                margin-left: 2px;
                            }

                            &:hover {
                                color: #007DF2;
                            }

                        }

                        .nine {
                            &::after {
                                content: '(9)';




                                margin-left: 2px;
                            }

                        }

                        .two {
                            &::after {
                                content: '(2)';




                                margin-left: 2px;
                            }

                        }


                    }
                }
            }

            .leftRange {
                &:focus {
                    border: #ebebeb solid 1px;
                }



                .leftRangeText {
                    margin-top: 15px;

                    span {
                        color: #303030;
                    }

                    margin-bottom: 54px;
                }
            }

            .ratedContent {

                .ratedContentContent {
                    display: flex;
                    margin-bottom: 20px;

                    .ratedLeft {



                        img {
                            max-width: 75px;
                            max-height: 90px;

                        }
                    }

                    .ratedRight {
                        padding-left: 12px;


                        .ratedTitle {
                            font-weight: 600;
                            color: #303030;
                            font-size: 14px;
                            margin-top: 3px;
                            line-height: 17px;
                            transition: 0.7s;

                            &:hover {
                                color: #007DF2;
                            }
                        }

                        .stars {
                            i {
                                font-size: 13px;
                                color: #ffb805;
                            }

                            span {
                                color: #007DF2;
                                display: block;
                            }
                        }
                    }
                }
            }

            .manySpanContent {
                margin-bottom: 54px;

                a {
                    padding-right: 15px;
                    color: #888888;
                    text-decoration: none;

                    &:hover {
                        color: #007DF2;
                    }
                }
            }

            .leftLastContent {
                .row .col-4 {
                    padding: 5px;
                }

                .leftLastContentImage {
                    position: relative;
                    min-width: 50px;
                    min-height: 50px;





                    img {



                        width: 100%;
                    }

                    .leftLastContentDarkLayout {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(17, 17, 17, 0.7);

                        // height: 100%;
                        width: 100%;
                        opacity: 0;
                        transition: .7s;

                        &:hover {
                            opacity: 1;
                        }

                        .leftLastContentDarkLayoutContent {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;

                            i {
                                // position: relative;
                                // z-index: 3333333;
                                color: white;
                            }

                        }
                    }
                }
            }
        }
    }

    .customSelect {
        width: 100%;
        border-style: none;
        border: #ebebeb solid 1px;
        padding: 19px 50px 19px 20px;
        color: #888888;
    }

    .test {
        border: 1px solid transparent;
    }

    .banner {
        margin-top: 43px;

        .bannerContent {
            position: relative;
            margin-top: -10px;
            text-align: center;
            overflow: hidden;

            img {

                border-style: none;
                max-width: 100%;
                width: 100%;
                height: 100%;
            }

            .inputContent {
                position: absolute;
                top: 55%;
                left: 50%;
                margin-left: -75px;
                margin-top: -23px;
                display: flex;
                justify-content: center;

                input {


                    padding: 12px 36px;
                    border-style: none;
                    font-weight: 600;
                    border-radius: 3px;
                    background-color: #007DF2;
                    transition: .7s;
                    color: #FFFFFF;

                    &:hover {
                        background-color: #FFFFFF;
                        color: #303030;
                    }
                }
            }
        }
    }

}

.customTags {
    margin-top: 54px;

    .spanContent span {
        margin-right: 15px;
        cursor: pointer;

        &:hover {
            color: #007DF2;
        }
    }
}

.tags {
    cursor: pointer;

    a {
        text-decoration: none;
        transition: 0.5s;

        &:hover {
            color: #007DF2 !important;


        }
    }
}

.customTitle {
    padding: 0px 88px;

    .bigTitle {
        text-align: center;
        margin-bottom: 0px;
        color: #303030;

    }

    .subBigTitle {
        display: flex;
        justify-content: center;
        margin: 0px -11px 16px;
        padding: 10px 88px 31px;

        .subBigTitleContent {
            a {
                color: #888888;
                text-decoration: none;
                transition: .6s;


                &:after {
                    content: ('|');
                    padding-right: 12px;
                    padding-left: 13px;
                }

                &:hover {
                    color: #303030;
                }
            }

            .customLastA {
                &:after {
                    content: (' ');
                    padding-right: 12px;
                    padding-left: 13px;

                    &:hover {
                        color: #888888;
                    }
                }

            }
        }
    }

}

.asHumanContent {
    margin-top: 41px;
    margin-bottom: 15px;

    h5 {

        font-size: 15px;
        color: #303030;
        font-weight: 600;
        line-height: 23px;
    }
}

.list-inline-item {
    i {
        color: #303030;
        transition: 0.5s;

        &:hover {
            color: #007DF2;
        }
    }
}

.whetherContent {
    margin-bottom: 15px;

}

.doUHaveContent {
    margin-bottom: 15px;
}

ul {
    li {
        margin-bottom: 13px;

    }
}

.whatIf {
    font-size: 15px;
    color: #303030;
    margin-bottom: 13px;
    font-weight: 600;
}

.dirnaqContent {
    margin-bottom: 38px;
    margin-top: 38px;
    display: flex;

    padding-right: 75px;

    p {
        margin-left: 35px;
        color: #303030;
        font-weight: 600;
    }

    i {
        font-size: 18px;
        color: rgba(0, 125, 242, 1);
    }
}

.customImageContent {
    img {
        width: 100%;
    }
}

.resultDiv {
    margin-top: 74px;

    .resultDivLeft {
        border: #e7e7e7 solid 1px;
        padding: 41px 27px;
        padding-bottom: 16px;

        .divLeftBottom {

            h3 {
                line-height: 33px;
                font-weight: 600;
                color: #303030;
                transition: all 300ms linear 0ms;
                line-height: 33px !important;
                cursor: pointer;

                &:hover {
                    color: #007df2;

                }
            }
        }
    }

    .resultDivRight {
        border: 1px solid;

        padding: 41px 27px;
    }
}

.divLeftTop {
    display: flex;

    .leftTopLeft {
        padding-right: 15px;

        i {
            color: #303030;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
                color: rgba(0, 125, 242, 1) !important;
            }
        }
    }

    .leftTopRight {
        padding-left: 30px;
        cursor: pointer;
    }
}

.commentSection {
    border: #e6e6e6 solid 1px;
    margin-top: 50px;
    padding: 45px 0px 0px;

    .commentHeader {
        margin-bottom: 25px;
        margin-left: 25px;
        color: #303030;
    }

    .commentMain {
        padding-top: 40px;
        border-top: #e6e6e6 solid 1px;

        .contentMainSub {
            margin-left: 34px;
        }

        .commentMainContent {
            display: flex;

            .commentMainContentLeft {
                padding-right: 35px;

                img {
                    border-radius: 100%;
                }
            }

            .commentMainContentRight {
                .authorName {
                    display: block;
                    padding-bottom: 18px;
                    font-size: 14px;
                    font-weight: 600;
                }

                .subAuthorNameContent {
                    display: flex;
                    margin-bottom: 33px;
                }

                .replyContent {
                    margin-left: 12px;
                    color: #303030;
                    cursor: pointer;
                    transition: 0.5s;

                    &:hover {
                        color: rgba(0, 125, 242, 1);
                    }
                }
            }

        }
    }
}

.commentLastTable {
    .commentTableContent {
        padding-top: 70px;

        .commentTableText {
            h3 {
                color: #303030;
                margin-bottom: 3px;
            }
        }

        .commentTableForm {
            margin-top: 33px;

            form {
                input {
                    margin-bottom: 15px;
                    padding: 11px 20px;
                    width: 100%;
                    transition: .6s;

                    border: #ebebeb solid 1px;

                    &:hover {
                        border-color: #007DF2;

                        &::placeholder {
                            color: #007DF2;
                        }
                    }

                }

                textarea {
                    padding: 11px 20px;
                    border: #ebebeb solid 1px;
                    transition: .6s;

                    &:hover {
                        border-color: #007DF2;

                        &::placeholder {
                            color: #007DF2;
                        }
                    }

                }

                .customButton {
                    padding: 15.5px 36px;
                    background-color: #007DF2;
                    border-radius: 5px;
                    color: white;
                    border-style: none;
                    margin-top: 18px;
                    transition: 0.5s;

                    &:hover {
                        background-color: #303030;
                    }
                }
            }
        }


    }
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #515252;
}

::-webkit-scrollbar-thumb {
    background: $content-color;
}




.share ul{
    padding: 0;
}



// 
footer {
    background-color: rgb(20, 20, 20);
}

.footerCenter {
    margin: 0 auto;
    padding: 100px 0 50px;
}

.mainFooterContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footerCard {
    width: 25%;
}

.footerCard:nth-child(2) {
    width: 120px;
}

.footerCard p {
    color: #999999;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 33px;
    font-size: 15px;
}

.footerCard a {
    text-decoration: none;
    color: #999999;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
    transition: 0.5s;
    line-height: 33px;

    &:hover {
        color: rgba(0, 125, 242, 1);
    }
}

.footerCard h3 {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
    font-family: "Poppins";
    font-weight: 600;
}

.footerCard:nth-child(1) img {
    width: 150px;
    height: 45px;
    margin-bottom: 30px;
    cursor: pointer;
}

.footerCard:nth-child(2) .footerLinks {
    display: flex;
    flex-direction: column;
}


.footerCard:nth-child(3) .footerIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 180px;

    i {
        transition: 0.5s;
        cursor: pointer;
        font-size: 15px;

        &:hover {
            color: rgba(0, 125, 242, 1);
        }
    }
}

.footerCard:nth-child(3) p {
    line-height: 28px;
}

.footerCard:nth-child(4) {
    width: 25%;
}

.footerGallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerImage {
    width: 32%;
    position: relative;
    margin-bottom: 10px;
}

.footerImage img {
    width: 100%;
}

.hoverInsta {
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 22px;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.footerCopyright {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #999999;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 33px;
    font-size: 15px;
    margin-top: 50px;
    background-color: rgb(20, 20, 20);

    p {
        margin: 0;

        span {
            margin-right: 25px;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                color: rgba(0, 125, 242, 1);
            }
        }
    }
}



@media screen and (max-width: 576px){
    .mainContentChat .row .col-lg-4{
        padding-right: 15px !important;
    }
}




// ================================================================================= MEDIA QUERY FOR FOOTER
// ================================================================================= MEDIA QUERY FOR FOOTER
@media screen and (min-width:1200px) {
    .footerCenter {
        width: 1190px;
    }
}

@media screen and (max-width:1200px) {
    .footerCenter {
        width: 90%;
    }
}


@media screen and (max-width:968px) {
    .footerCard {
        width: 40% !important;
        margin-bottom: 40px;
    }
}


@media screen and (max-width:768px) {

    .footerCard,
    .footerCopyright {
        width: 70% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:500px) {

    .footerCard,
    .footerCopyright {
        width: 100% !important;
    }

    .footerCopyright {
        line-height: 20px;

        p {
            margin-bottom: 10px;
        }
    }
}



// 
@media screen and (max-width:1200px) {
    .mainLeftContent {

        padding: 54px 5px 49px 10px !important
    }

    .customTitle {
        padding: 0px 0px;

    }

    .subBigTitle {
        padding: 10px 0px 31px !important;

    }

}

@media screen and (max-width:767px) {

    .bigTitle {
        h1 {
            font-size: 23px !important;
        }
    }

    .mainTaskContentLeft {
        margin-left: 0px !important;
        margin-top: 50px !important;
    }

    .commentMainContentLeft {
        display: none;
    }

    .contentMainSub,
    .commentHeader {
        margin-left: 15px !important;
    }


}

@media screen and (max-width:998px) {
    .resultDivLeft {
        padding: 15px !important;
    }

    .col-10 {
        h3 {
            display: none !important;
        }

    }



}