@import "shared/fonts";
@import "shared/variables";


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}





.pageIntroSection {
    // margin: 50px 0 0;
    background-image: url("../img/pagetitle-aboutus2.jpg");
    height: 50vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


    .pageIntroText {
        position: absolute;
        bottom: 100px;
        left: 50%;
        margin-left: -73px;
        font-family: "Poppins";

        h2 {
            font-size: 36px;
            line-height: 45px;
            text-align: center;
            font-weight: 600;
            color: #303030;
        }

        p {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #303030;
            font-family: "Poppins";
            font-size: 14px;
            font-weight: 500;
            width: 130px;
            margin: auto;

            a {
                text-decoration: none;
                color: #303030;
                transition: 0.5s;
            }
        }
    }
}

.pageIntroText a:hover {
    color: rgba(0, 125, 242, 1) !important;
}





.pricingMainContainer {
    background-color: rgb(240, 240, 240);
    padding: 100px 0;

    .pricingMainContainerCenter {
        margin: auto;

        .pricingHeading {
            text-align: center;
            margin-bottom: 50px;

            h2 {
                color: rgba(0, 125, 242, 1);
                font-size: 14px;
                letter-spacing: 2px;
                font-weight: 700;
                line-height: 22px;
                font-family: "Poppins";
            }

            h1 {
                font-size: 36px;
                line-height: 45px;
                color: #303030;
                font-weight: 600;
                font-family: "Poppins";
            }
        }

        .pricingCardsContainer {
            padding: 5px;

            .pricinCarouselContainer {
                padding: 5px;
                cursor: e-resize;

                .pricingCard {
                    background-color: white;
                    border: 1px solid #e7e7e7;
                    padding: 40px 30px;
                    transition: 0.5s;

                    h2 {
                        margin-top: 0;
                        margin-bottom: 15px;
                        font-size: 24px;
                        margin: 0 0 15px;
                        color: #303030;
                        font-family: "Poppins";
                        font-weight: 600;
                        line-height: 30px;
                        transition: 0.5s !important;
                    }

                    p {
                        font-size: 15px;
                        line-height: 26px;
                        margin: 0 0 15px;
                        padding: 0;
                        width: 90%;
                        color: #777777;
                        font-weight: 500;
                        font-family: "Poppins";
                    }

                    h1 {
                        color: rgba(0, 125, 242, 1);
                        font-weight: 600;
                        padding-top: 22px;
                        font-family: "Poppins";
                        font-size: 48px;
                        line-height: 22px;
                        display: flex;
                        align-items: flex-start;
                        flex-wrap: wrap;

                        span:nth-child(1) {
                            font-size: 24px;
                        }

                        span:nth-child(2) {
                            font-size: 48px;
                            line-height: 1;
                            padding-left: 10px;
                            padding-right: 9px;
                        }

                        span:nth-child(3) {
                            color: #303030;
                            font-size: 15px;
                            font-style: italic;
                            font-weight: 500;
                            align-self: flex-end;
                        }
                    }

                    ul {
                        margin: 20px 0;
                        padding: 0;
                        margin: 40px 0 30px;

                        li {
                            list-style-type: none;
                            font-size: 14px;
                            line-height: 26px;
                            border-bottom: #e6e6e6 solid 1px;
                            padding-bottom: 12px;
                            margin-bottom: 12px;
                            font-family: "Poppins";
                            font-weight: 500;
                            display: flex;
                            align-items: center;

                            i {
                                font-size: 12px;
                                margin-right: 15px;
                                color: #303030;
                            }

                            span {
                                color: #777777;
                            }
                        }
                    }

                    .getStarted {
                        padding: 15px 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        background-color: rgb(235, 235, 235);
                        transition: 0.5s;

                        p {
                            text-decoration: none;
                            font-family: "Poppins";
                            font-weight: 500;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0;
                            color: #303030;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }
}

.pricingCard:hover {
    border: 1px solid rgba(0, 125, 242, 1) !important;
}

.pricingCard:hover h2 {
    color: rgba(0, 125, 242, 1) !important;
    transition: 0.5s !important;
}

.pricingCard:hover .getStarted {
    background-color: rgba(0, 125, 242, 1) !important;
    color: white !important;
}

.pricingCard:hover .getStarted p {
    color: white !important;
}

.selectedPricingCard {
    border: 1px solid rgba(0, 125, 242, 1) !important;
}

.selectedHeading {
    color: rgba(0, 125, 242, 1) !important;
}

.selectedButton {
    background-color: rgba(0, 125, 242, 1) !important;
}

.selectedButtonText {
    color: white !important;
}





.appointmentContainer {
    background-color: rgba(0, 125, 242, 1);
    height: 160px;
}

.appointmentContainerCenter {
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.circleImage {
    position: absolute;
    bottom: 0;
    z-index: 9;
}

.appointmentContent {
    position: relative;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    h2 {
        font-weight: 600;
        font-size: 36px;
        color: #fff;
        font-family: "Poppins";
        margin: 0;
    }

    .appointBTN{
        background-color: white;
        height: 55px;
        width: 235px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s;
    }
}

.appointBTN:hover{
    background-color: #303030 !important;
    color: white !important;
}


.owl-nav{
    display: none !important;
}




.scrollerTop {

    opacity: 0;
    transition: 1s;

    position: fixed;
    bottom: 10px;
    right: 3%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    background-color: rgba(0, 125, 242, 1);
    color: #fff;
    cursor: pointer;
    // visibility: hidden;
    z-index: 99;
}

// ================================================================================= FOOTER
// ================================================================================= FOOTER
// ================================================================================= FOOTER
// ================================================================================= FOOTER
footer {
    background-color: rgb(20, 20, 20);
}

.footerCenter {
    margin: 0 auto;
    padding: 100px 0 50px;
}

.mainFooterContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footerCard {
    width: 25%;
}

.footerCard:nth-child(2) {
    width: 120px;
}

.footerCard p {
    color: #999999;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 33px;
    font-size: 15px;
}

.footerCard a {
    text-decoration: none;
    color: #999999;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
    transition: 0.5s;
    line-height: 33px;

    &:hover {
        color: rgba(0, 125, 242, 1);
    }
}

.footerCard h3 {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
    font-family: "Poppins";
    font-weight: 600;
}

.footerCard:nth-child(1) img {
    width: 150px;
    height: 45px;
    margin-bottom: 30px;
    cursor: pointer;
}

.footerCard:nth-child(2) .footerLinks {
    display: flex;
    flex-direction: column;
}


.footerCard:nth-child(3) .footerIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 180px;

    i {
        transition: 0.5s;
        cursor: pointer;
        font-size: 15px;

        &:hover {
            color: rgba(0, 125, 242, 1);
        }
    }
}

.footerCard:nth-child(3) p {
    line-height: 28px;
}

.footerCard:nth-child(4) {
    width: 25%;
}

.footerGallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerImage {
    width: 32%;
    position: relative;
    margin-bottom: 10px;
}

.footerImage img {
    width: 100%;
}

.hoverInsta {
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 22px;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.footerCopyright {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #999999;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 33px;
    font-size: 15px;
    margin-top: 50px;
    background-color: rgb(20, 20, 20);
    p {
        margin: 0;

        span{
            margin-right: 25px;
            cursor: pointer;
            transition: 0.5s;

            &:hover{
                color: rgba(0, 125, 242, 1);
            }
        }
    }
}

// ================================================================================= MEDIA QUERY FOR FOOTER
// ================================================================================= MEDIA QUERY FOR FOOTER
@media screen and (min-width:1200px) {
    .footerCenter {
        width: 1190px;
    }
}

@media screen and (max-width:1200px) {
    .footerCenter {
        width: 90%;
    }
}


@media screen and (max-width:968px) {
    .footerCard {
        width: 40% !important;
        margin-bottom: 40px;
    }
}


@media screen and (max-width:768px) {

    .footerCard,
    .footerCopyright {
        width: 70% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:500px) {

    .footerCard,
    .footerCopyright {
        width: 100% !important;
    }

    .footerCopyright {
        line-height: 20px;

        p {
            margin-bottom: 10px;
        }
    }
}















@media screen and (min-width: 1200px) {

    .pricingMainContainerCenter,
    .appointmentContainerCenter {
        width: 1140px;
    }

}


@media screen and (max-width: 1200px) {
    .pageIntroSection {
        height: 30vh;
    }

    .pageIntroText {
        bottom: 50px !important;
    }

    .pricingMainContainerCenter,
    .appointmentContainerCenter {
        width: 90%;
    }
}


@media screen and (max-width: 1000px) {
    .appointmentContent h2{
        width: 100%;
        margin-bottom: 20px;
        font-size: 30px;
    }
}


@media screen and (max-width: 768px) {
    .pageIntroSection {
        height: 20vh;
    }

    .pageIntroText {
        bottom: 10px !important;
    }

    .pricingMainContainer .pricingMainContainerCenter .pricingHeading h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 560px){
    .appointmentContainer{
        height: 220px;
    }
}