// Home Page Color
$body-default-color:#777;
$content-color:rgba(0, 125, 242, 1);
$home-page-header-background-color:#3f3f3f;
$vision-black-color:#303030;
   // Medical Center
   $medical-center-background-color:#f5f5f5;
// Font-size
$default-size:14px;

// Font Family
$default-font:'Open Sans';

$homeSliderColor: #303030;